[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
google-api-python-client = "*"
requests = "*"
python-dotenv = "*"
psycopg2-binary = "*"
asgiref = "==3.5.0"
cachetools = "==5.0.0"

[dev-packages]

[requires]
python_version = "3.10"
